div.texteditor {
   
}

div.texteditor.active {
    /*border: 2px solid red;*/
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  background-color:rgba(255,255,0,0.01);
}

div.texteditor.inactive {
    border: 2px solid transparent;
}


